@use "../../_variables.scss" as v;

.skills {
  background: #f7f7f7;
}

.skills-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.skills-flex h2 {
  margin: 0 16px 0 0;
  min-width: 80px;
  align-self: flex-start;
}

.skills-flex ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-flex li {
  background: #e9ecef;
  border-radius: 6px;
  padding: 6px 14px;
  font-size: 1rem;
}

@media (max-width: v.$breakpoint-mobile) {
  .skills-flex {
    flex-direction: row;
    gap: 8px;
    align-items: stretch;
    padding: 1em 0.2rem;
    border-radius: 8px;
  }
  .skills-flex h2 {
    margin: 0 0 8px 0;
    min-width: unset;
    color: #22223b;
    // transform: rotate(-90deg);
    // transform-origin: right center;
  }
  .skills-flex ul {
    flex-direction: row;
    gap: 6px;
  }
}
