@use "../_variables.scss" as v;
.navbar {
  width: 100%;
  background: #f8f9fa;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

// .navbar-toggle {
//   display: none;
//   background: none;
//   border: none;
//   font-size: 2rem;
//   margin: 0.5rem 1rem;
//   cursor: pointer;
// }

.navbar-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0.5rem 0;
  list-style: none;
  gap: 0;
}

.navbar-list > li {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.navbar-link:hover {
  background: #d12828;
}

@media screen and (max-width: v.$breakpoint-mobile) {
  .navbar {
    display: none; // Hide navbar on mobile - button to be shown in header
  }
}
