$breakpoint-mobile: 700px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1200px;

// Colours
$text-background: white;
$background-lightgrey: #f7f7f7;
$background-darkgrey: #e9ecef;
$background-darkergrey: #8197ae;
$background-header: #22223b;
